@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Cinzel&display=swap');
*
{
    margin: 0;
    padding: 0;
    cursor: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    max-width: 1248px;
    user-select: none;
    box-sizing: border-box;
}

body
{
    overflow-x: hidden;
    background: #000;
}

canvas
{
    position: absolute;
    max-width: unset;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    background: #000;
    z-index: 9998;
    max-width: unset;
}

.loading-content {
    position: absolute;
    margin: auto;
    height: fit-content;
    left: 0;bottom: 0;top: 0;right: 0;
    max-width: unset;
}

.loader .content {
    margin: auto;
    height: fit-content;
    left: 0;bottom: 0;top: 0;right: 0;
    padding: 16px;
}

.loader .loading_holder {
    margin: auto;
    height: 2px;
    width: 100%;
    top: 0;bottom: 0;
    background: #000;
    max-width: unset;
} 

.loader .loading_percent {
    margin: auto;
    height: 2px;
    width: 80%;
    top: 0;bottom: 0;
    background: #fff;
    max-width: unset;
}

.loader .content .h1 {
    font-family: 'Cinzel', sans-serif;
}
.loader .content .h5 {
    font-family: 'Amiri', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.body {
    margin: auto;
    max-width: unset;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    margin-bottom: 40px;
}

.header-bar {
    background: linear-gradient(#000 25%, transparent);
    height: 100px;
    width: 100%;
    max-width: unset;
    position: fixed;
    top: 0;left: 0;
    z-index: 9997;
}

.header {
    position: fixed;
    margin: auto;
    width: 100%;
    right: 0;left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    z-index: 9998;
}

.header .link {
    font-weight: 500;
    color: white;
    transition: .3s;
}

.cursor-dit {
    height: 5px;
    width: 5px;
    background: #fff;
}

.cursor-dot {
    height: 40px;
    width: 40px;
    border: 1.8px solid #fff;
}

.cursor-dit, .cursor-dot {
    position: fixed;
    border-radius: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}

.caption {
    font-size: 14px;    
    line-height: 30px;
}

.scrollbar-track {
    background: #333 !important;
    right: 0;
}
.scrollbar-thumb {
    background: #fff !important;
    right: 0;
}

scrollbar .scrollbar-track {
    display: none;
}


@media (max-width: 600px) {
    .scrollbar-track {
        display: none !important;
    }
}