.making-section {
    position: relative;
    height: fit-content !important;
}

.making-section .bg {
    height: 100%;
    position: absolute;
    left: 0;top: 0;
    max-width: 100%;
}

.making-section .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(-90deg, #16171a 40%, transparent 53%);
    right: 0;
    padding-top: 8pc;
    padding-bottom: 8pc;
    padding-left: 14pc;
    max-width: unset;
}

.making-section .the-making {
    max-width: 30pc;
    font-family: 'Amiri', serif;
    font-size: 78px;
}

.making-section .divider {
    margin: 5px auto 60px 0;
    max-width: 300px;
    width: 100px;
    height: 1.4px;
    background-color: #fff;
}

.making-section .caption {
    max-width: 34pc;

}


@media (max-width: 600px) {
    .making-section .bg {
        display: none;
    }
    .making-section .information {
        width: 100%;
        background: #000;
        padding: 16px;
        position: unset;
        display: block;
    }
}